{% extends 'base.html' %}

{% block content %}

<h1>Welcome and create a new song!</h1>

<form method="POST" action="{{ url_for('add_song') }}">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.artist.label }}
        {{ form.artist(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}

